* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: white;
    background-image: url(".//img/img2.jpg");
    background-size: cover;
    image-rendering: auto;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

div {
    background-color: #89afd2;
    width: 500px;
    margin: 50px auto;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}

img {
    width: 280px;
    height: 250px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

a {
    display: block;
    background-color: rgb(95, 95, 221);
    margin: 10px;
    padding: 20px;
    color: white;
    text-decoration: none;
    border-radius: 10px;

}

a:hover {
    background-color: rgb(82, 82, 139);
    color: white;
    transform: scale(1.05);
    transition: all 0.3s ease;
}
p{
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: black;
    padding: 10px;
}

h2{
    font-size: 30px;
      font-family: "Times New Roman", Times, serif;
    color: black;
    margin-bottom: 10px;
}
p.cl{
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    color: black;
    margin-top: 20px;
}